.navbar {
	width: calc(100% - 2em);
	display: flex;
	justify-content: space-between;
	font-size: 1.1em;
	font-weight: bold;
	padding: 0.5em 1em;
	background-color: var(--gruvbox-mode-bg-1);
	border-bottom: 1px solid var(--gruvbox-mode-bg-3);
}

.navbar .left > * {
	display: inline;
}

.logo {
	margin-right: 0.5em;
}

.navbar ul {
	padding-left: 0;
	list-style: none;
}

.navbar .links li {
	display: inline;
	margin-left: 1em;
}

.expander {
	display: none;
}

.expander button {
	font-weight: bold;
}

.navbar a, .navbar button {
	color: var(--gruvbox-mode-bold-aqua);
}

@media screen and (width <= 700px) {
	.expander {
		display: block;
	}

	.navbar .left > * {
		display: block;
	}

	.navbar ul {
		margin: 0.3em 0;
	}

	.navbar.hidden .links {
		display: none;
	}

	.navbar .links li {
		display: block;
		margin-bottom: 0.25em;
	}
}
